<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs') -%>
</head>

<body class="bg-info">
  <div class="row">
    <div class="wrapper col-md-6 offset-md-3">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </div>
</body>

</html>